
@* indicates that the view expects a list of Project objects as its model *@

@model List<Project>

@{

    ViewData["Title"] = "Projects";
    
    // LAB 6: - search parameters
    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchString = ViewData["SearchString"] as string;

}


<h2>Projects</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">create new project</a>
</p>


@if (Model != null && Model.Count > 0)
{
    <table class="table">

        <thead>

        <tr>

            <th>ID</th>

            <th>Name</th>

            <th>Description</th>
            
            <th>Action</th>
            
        </tr>

    </thead>

    <tbody>
    

    @foreach (var project in Model)

    {

        <tr>

            <td>@project.ProjectId</td>

            <td>@project.Name</td>

            <td>@project.Description</td>
            
            <td>
                <a asp-controller="ProjectTask" asp-action="Index" asp-route-projectId="@project.ProjectId">view tasks</a> |
                <a asp-action="Details" asp-route-id="@project.ProjectId">details</a> |
                <a asp-action="Edit" asp-route-id="@project.ProjectId">edit</a> |
                <a asp-action="Delete" asp-route-id="@project.ProjectId">delete</a>
            </td>

        </tr>

    }

    </tbody>

</table>

}

else

{

    // LAB 6: CONDITIONAL

    if (searchPerformed)
    {
        <p>no project names with name "@searchString" were found. </p>
    }
    else
    {

        <p>No projects available.</p>

    }
}